@addTagHelper *, Kendo.Mvc
@section Scripts{

    <script src="~/app/Customer/index.js" asp-append-version="true"></script>
    <script>
        var userObj = new customerController();
        userObj.initialize();
    </script>
}
<div id="example">
    <div id="dialog">
        <div id="horizontal-form">

            <form class="form-horizontal" role="form" id="frmMaintainance">
                <div class="form-group">
                    <div class="row">
                        <input type="hidden" id="hidIdM" value="0" />
                        <label for="txtNameM" class="col-sm-4 custom-font-weight control-label no-padding-right">Number Of Sample</label>
                        <div class="col-sm-7">
                            @(Html.Kendo().NumericTextBox<int>()
                                .Format("n0")
                                .Name("numOfSam")
                                .HtmlAttributes(new { placeholder = "Number Of Sample", style = "width: 100%; height: 90%;" })
                            )
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="custom-font-weight control-label no-padding-right">Customer</label>

                        </div>
                        <div class="col-sm-7 row">
                            <div class="col-9 cus">
                                @(Html.Kendo().ComboBox()
                                .Name("customers")
                                .Placeholder("Select customer")
                                .DataTextField("companyName")
                                .DataValueField("customerCode")
                                .HtmlAttributes(new { style = "width: 108%;height: 90%;" })
                                .Events(e =>
                                {
                                    e.Change("onChangecustomer").Select("onSelectcustomer");
                                })
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetCustomers", "CustomerRequest");
                                    }).ServerFiltering(true);
                                })
                                .Filter("startswith")
                                .Height(300)
                                .HeaderTemplate("<div class=\"dropdown-header k-widget k-header\">" +
                                    "<span>Contact info</span>" +
                                        "</div>")
                                .Template(
                                "<span class=\"k-state-default\"><h6>#: data.contactName #</h6><p>#: data.companyName #</p></span>")
                            )


                            </div>
                            <div class="col-1 spanSty">
                                <span style="margin-top: -2px;">
                                    @await Html.PartialAsync("../CustomerList/PartialViewAddCustomer")
                                </span>
                            </div>
                        </div>
                        
                        
                    </div>

                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-4 custom-font-weight control-label no-padding-right">Contact</label>
                        <div class="col-sm-7 cus">
                            @(Html.Kendo().ComboBox()
                                .Name("contact")
                                .Placeholder("Select contact")
                                .DataTextField("contactName")
                                .DataValueField("contactID")
                                .HtmlAttributes(new { style = "width: 100%;height: 90%;" })
                                .Events(e =>
                                {
                                    e.Open("onOpenContact");
                                })
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetCustomersItem", "CustomerRequest");
                                    }).ServerFiltering(true);
                                })
                                .Filter("startswith")
                                .Height(300)
                                .HeaderTemplate("<div class=\"dropdown-header k-widget k-header\">" +
                                    "<span>Contact info</span>" +
                                        "</div>")
                                .Template(
                                "<span class=\"k-state-default\"><h6>#: data.contactName #</h6><p>#: data.email #</p></span>")
                            )


                        </div>
                    </div>

                </div>

                <div class="form-group">

                    <div class="row">
                        <label for="txtNameM" class="col-sm-4 custom-font-weight control-label no-padding-right">Request No.</label>
                        <input type="hidden" id="requestNoId" value="" />
                        <div class="col-sm-3">
                            @(Html.Kendo().TextBox()
                          .Name("requestNo")
                          .HtmlAttributes(new { placeholder = "Request No", required = "required", style = "width: 100%;height: 90%" })
                            )

                        </div>
                        <label for="txtNameM" class="col-sm-2 mr-left-24 custom-font-weight control-label no-padding-right">VAT %</label>
                        <div class="col-sm-1">
                            @(Html.Kendo().TextBox()
                          .Name("vat")
                          .HtmlAttributes(new { placeholder = "VAT", required = "required", style = "margin-left: -28px;width: 147%;height: 90%;" })
                            )

                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="txtNameM" class="col-sm-4 custom-font-weight control-label no-padding-right">Receive Time</label>
                        <div class="col-sm-7 cus">
                            @(Html.Kendo().DateTimePicker()
                                .Name("datetimepicker")
                                .Value(DateTime.Now)
                                .HtmlAttributes(new { style = "width: 72%;height: 90%;", title = "datetimepicker" })
                                .DateInput()
                            )
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="txtNameM" class="col-sm-4 custom-font-weight control-label no-padding-right">Return</label>
                        <div class="col-sm-7 cus">
                            @(Html.Kendo().DateTimePicker()
                                .Name("datetimepickerReturn")
                                .Value(DateTime.Now)
                                .HtmlAttributes(new { style = "width: 72%; height: 90%;", title = "datetimepicker" })
                                .DateInput()
                            )
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-4 custom-font-weight control-label no-padding-right">Price List</label>
                        <div class="col-sm-7 cus">
                            @(Html.Kendo().ComboBox()
                                .Name("piceList")
                                .Placeholder("Select price")
                                .DataTextField("contactName")
                                .DataValueField("customerID")
                                .HtmlAttributes(new { style = "width: 100%;height: 90%;" })
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetCustomers", "CustomerRequest");
                                    }).ServerFiltering(true);
                                })
                                .Filter("startswith")
                                .Height(300)
                                .HeaderTemplate("<div class=\"dropdown-header k-widget k-header\">" +
                                    "<span>Contact info</span>" +
                                        "</div>")
                                .Template(
                                "<span class=\"k-state-default\"><h6>#: data.contactName #</h6><p>#: data.companyName #</p></span>")
                            )


                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


<script>
    var selected;
    var itemSelected;
    function onChangecustomer() {
    }
    function onSelectcustomer(e) {
        var dataItem = this.dataItem(e.item.index());
        selected = dataItem.customerCode;
        itemSelected = dataItem;
        $.ajax({
            type: "GET",
            url: "/CustomerRequest/GetCustomersItemByCode",
            data: { id: selected },
            dataType: "json",

            success: function (response) {
                var comboboxContact = $("#contact").data("kendoComboBox");
                var dataSource = new kendo.data.DataSource({
                    data: response
                });
                comboboxContact.setDataSource(dataSource);
                comboboxContact.select(comboboxContact.dataSource._pristineData.indexOf(comboboxContact.dataSource._pristineData.filter(x => x.customerCode === selected)[0]));

            },
            error: function () {

            }
        });

    }
    function onOpenContact(e) {
    }

</script>
<style>
    #example {
        min-height: 350px;
    }

    .form-group {
        margin-bottom: 0 !important
    }
    .spanSty {
        margin-top: -5px;
        margin-left: 1px;
        height: 10px;
    }
</style>