

<link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
<script src="~/js/thirdparty.bundle.js"></script>
<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>
@{
    var report = new DevExpress.XtraReports.UI.XtraReport();
    if (@Model.ReportName == "ManagementSample")
    {
        report = new DRLab.Web.Reports.ManagementSample();
      
    }
    if (@Model.ReportName == "ManagementRequest")    {
        report = new DRLab.Web.Reports.ManagementRequest();
        report.Parameters[0].Value = @Model.RequestNumber;
        report.Parameters[0].Visible = false;
    }
}

<h1 hidden id="flagReportName">@Model.ReportName</h1>
<h1 hidden id="flagCode">@Model.RequestNumber</h1>

<div class="report__container">
    @Html.DevExpress().WebDocumentViewer("DocumentViewer").Bind(report);
</div>
<script type="text/javascript">
    function OnCustomizeElements(s, e) {
        var rightPanel = e.GetById(DevExpress.Report.Preview.PreviewElements.RightPanel);
        var index = e.Elements.indexOf(rightPanel);
        e.Elements.splice(index, 1);
    }
</script>
<style>
    .report__container {
        position: absolute;
        height: 100%;
        width: 100%;
    }
</style>
