
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}
@using Kendo.Mvc
<section class="content">
    <div class="container-fluid">
        <div class="home__chart-container">
            <div class="home__chart card p-0">
                <h5 class="card-header px-3 py-2">
                    REQUEST VIEW
                    @(Html.Kendo().DropDownList()
                      .Name("chart1")
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .BindTo(new List<SelectListItem>() {
                          new SelectListItem() {
                              Text = "View by day",
                              Value = "3"
                          },
                          new SelectListItem() {
                              Text = "View by week",
                              Value = "2"
                          }
                      })
                      .Events(e => e.Change("chart1OnChange"))
                      .Value("3")
    )
                </h5>
                <script>
                    function chart1OnChange(e) {
                        switch (e.sender.value()) {
                            case "3":
                                chart1GetByDay();
                                break;
                            case "2":
                                chart1GetByWeek()
                                break;
                        }
                    }
                </script>
                <div class="card-body position-relative p-0">
                    <div>
                        <a href="/CustomerRequest" class="btn home__chart__button">Add new request</a>
                        <div class="float-right row text-right" style="font-size: 0.7rem">
                            <div class="col-9 home__color--primary">@Localizer["Home.Index.TotalRequest"] : </div>
                            <div class="col-3 home__color--primary">239</div>
                            <div class="col-9 home__color--secondary">@Localizer["Home.Index.RequestInProgress"] : </div>
                            <div class="col-3 home__color--secondary">99</div>
                        </div>
                    </div>
                    <div class="home__chart__inner">
                        <canvas id="home__chart1"></canvas>
                    </div>
                </div>
            </div>
            <div class="home__chart card p-0">
                <h5 class="card-header px-3 py-2">
                    SAMPLE VIEW
                    @(Html.Kendo().DropDownList()
                      .Name("chart2")
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .BindTo(new List<SelectListItem>() {
                          new SelectListItem() {
                              Text = "View in a month",
                              Value = "1"
                          },
                          new SelectListItem() {
                              Text = "View in a week",
                              Value = "2"
                          }
                      })
                      .Events(e => e.Change("chart2OnChange"))
                      .Value("1")
    )
                </h5>
                <script>
                    function chart2OnChange(e) {
                        switch (e.sender.value()) {
                            case "1":
                                chart2GetByMonth();
                                break;
                            case "2":
                                chart2GetByWeek()
                                break;
                        }
                    }
                </script>
                <div class="card-body position-relative p-0">
                    <div>
                        <a href="#" class="btn home__chart__button">Open testing report</a>
                        <div class="float-right row text-right" style="font-size: 0.7rem">
                            <div class="col-12 home__color--primary">From 13/4/20 to now </div>
                            <div class="col-12 home__color--primary">Average sample/day: 99</div>
                        </div>
                    </div>
                    <div class="home__chart__inner">
                        <canvas id="home__chart2"></canvas>
                    </div>
                </div>
            </div>
            <div class="home__chart card p-0">
                <h5 class="card-header px-3 py-2">
                    LAB WOKING
                    @(Html.Kendo().DropDownList()
                      .Name("chart3")
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .BindTo(new List<SelectListItem>() {
                          new SelectListItem() {
                              Text = "View by month",
                              Value = "1"
                          },
                          new SelectListItem() {
                              Text = "View by week",
                              Value = "2"
                          }
                      })
                      .Events(e => e.Change("chart3OnChange"))
                      .Value("1")
    )
                </h5>
                <script>
                    function chart3OnChange(e) {
                        switch (e.sender.value()) {
                            case "1":
                                chart3GetByMonth();
                                break;
                            case "2":
                                chart3GetByWeek()
                                break;
                        }
                    }
                </script>
                <div class="card-body position-relative p-0">
                    <div>
                        <a href="#" id="onClick" class="btn home__chart__button">Record testing value</a>
                        <div class="float-right row text-right" style="font-size: 0.7rem">
                            <div class="col-12 home__color--primary">From 13/4/20 to now </div>
                            <div class="col-12 home__color--primary">Average specification/day: 99</div>
                        </div>
                    </div>
                    <div class="home__chart__inner">
                        <canvas id="home__chart3"></canvas>
                    </div>
                </div>
            </div>
            <div class="home__chart card p-0">
                <h5 class="card-header px-3 py-2">
                    REVENUE
                    @(Html.Kendo().DropDownList()
                      .Name("chart4")
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .BindTo(new List<SelectListItem>() {
                          new SelectListItem() {
                              Text = "View by month",
                              Value = "1"
                          },
                          new SelectListItem() {
                              Text = "View by quarter",
                              Value = "4"
                          }
                      })
                      .Events(e => e.Change("chart4OnChange"))
                      .Value("1")
    )
                </h5>
                <script>
                    function chart4OnChange(e) {
                        switch (e.sender.value()) {
                            case "1":
                                chart4GetByMonth();
                                break;
                            case "4":
                                chart4GetByQuarter()
                                break;
                        }
                    }
                </script>
                <div class="card-body position-relative p-0">
                    <div class="home__chart__inner">
                        <canvas id="home__chart4"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

@Html.Partial("selectRequestView.cshtml")

@section scripts {
    <script src="~/plugins/chart.js/chartjs-plugin-datalabels.js" asp-append-version="true"></script>
    <script src="~/app/Home/index.js" asp-append-version="true"></script>
}

@section styles {
    <link href="~/app/Home/index.css" rel="stylesheet" asp-append-version="true" />
}
<script id="delete-confirmation" type="text/x-kendo-template">
    <p class="delete-message">please! select request </p>
</script>
<style>
    div.k-window {
        min-width: 15% !important;
    }
</style>