
@model string
<kendo-dialog name="@Model" title="New customer" width="500" modal="true" visible="false">
    <content>
        <form asp-controller="CustomerList" asp-action="Create_CustomerRequest" id="createCustomerForm"  method="post">  
            <div class="row mb-2">
                <div class="col-3">
                    <span style="vertical-align: sub;">Company Name</span>
                </div>
                <div class="col-9">
                    @(Html.Kendo().TextBox()
                    .HtmlAttributes(new { placeholder = "Company Name", required = "required", style = "width: 100%" })
                    .Name("companyName")
                    )
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3">
                    <span style="vertical-align: sub;">Company Address</span>
                </div>
                <div class="col-9">
                    @(Html.Kendo().TextBox()
                    .HtmlAttributes(new { placeholder = "Company Address", style = "width: 100%" })
                    .Name("companyAddress")
                    )
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3">
                    <span style="vertical-align: sub;">Province</span>
                </div>
                <div class="col-9">
                    @(Html.Kendo().TextBox()
                    .HtmlAttributes(new { placeholder = "Province", style = "width: 100%" })
                    .Name("province")
                    )
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3">
                    <span style="vertical-align: sub;">Contact Name</span>
                </div>
                <div class="col-9">
                    @(Html.Kendo().TextBox()
                    .HtmlAttributes(new { placeholder = "Contact Name", style = "width: 100%" })
                    .Name("contactName")
                    )
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3">
                    <span style="vertical-align: sub;">Contact Email</span>
                </div>
                <div class="col-9">
                    @(Html.Kendo().TextBox()
                    .HtmlAttributes(new { placeholder = "Contact Email", style = "width: 100%" })
                    .Name("contactEmail")
                    )
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3">
                    <span style="vertical-align: sub;">Note</span>
                </div>
                <div class="col-9">
                    @(Html.Kendo().TextBox()
                    .HtmlAttributes(new { placeholder = "Note", style = "width: 100%" })
                    .Name("notecustomer")
                    )
                </div>
            </div>
        </form>
    </content>
    <actions>
        <action text="Cancel">
        </action>
        <action text="Save" title="Save" action="onSave" primary="true">
        </action>
    </actions>
    <popup-animation>
        <open duration="500" effects="fade:in" />
        <close duration="500" effects="fade:out" />
    </popup-animation>
</kendo-dialog>
<script>
    function onSave() {
        var companyName = $('#companyName').val();
        var companyAddress = $('#companyAddress').val();
        var province = $('#province').val();
        var contactName = $('#contactName').val();
        var contactEmail = $('#contactEmail').val();
        var note = $('#notecustomer').val(); 
        const requestUrl = "/CustomerList/Create_CustomerRequest";       
        const data = {           
            companyName: companyName,
            companyAddress: companyAddress,
            city: province,
            contactName: contactName,
            contactEmail: contactEmail,
            note: note,
        };
        if (companyName != null && companyName !='') {
            $.post({
                url: requestUrl,
                data: data,
                dataType: 'json',
                success: function (result) {
                    $('#companyName').val('')
                    $('#companyAddress').val('')
                    $('#province').val('')
                    $('#contactName').val('')
                    $('#contactEmail').val('')
                    $('#notecustomer').val('')
                    $('#CreateCustomerDiaLog').data("kendoDialog").close();
                    var notification = $("#notification").data("kendoNotification");
                    notification.show({
                        message: "Insert Successful"
                    }, "success");
                },
                error: function () {
                    var notification = $("#notification").data("kendoNotification");
                    notification.show({
                        title: "Wrong Save",
                        message: "Uppdate error"
                    }, "error");

                }
            });
        } else {
            var notification = $("#notification").data("kendoNotification");
            notification.show({
                title: "Wrong Save",
                message: "Please! Enter Company Name"               
            }, "error");
        }
        return false;
    }
</script>